<h2>Start Apply Process</h2>
<p *ngIf="step && step.result"> Step Result : {{ step.result.rc }} - {{ step.result.message }} </p>
<div class="row" *ngIf="step">
  <div class="col-xs-4">
    <form (ngSubmit)="onApplyCheck(f.value.csi, f.value.zone)" #f="ngForm">
      <div class="form-group">
        <label for="csi">CSI:</label>
        <input
          type="text"
          id="csi"
          class="form-control"
          [(ngModel)]="step.data.csi"
          name="csi"
          required>
      </div>
      <div class="form-group">
        <label for="zone">Zone:</label>
        <input
          type="text"
          id="zone"
          class="form-control"
          [(ngModel)]="step.data.zone"
          name="zone"
          required>
      </div>
      <div class="row">
        <div class="col-md-6">
          <button
            class="btn btn-primary"
            type="button"
            (click)="onCancel()"
            [disabled]="!step?.allowBack">
            Cancel
          </button>
          <button
            class="btn btn-success" type="submit"
            [disabled]="!f.valid || !step?.allowNext">
            Apply Check
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
