<p> Apply step. </p>
<p> Process ID : {{ (processState | async).process.id }} </p>
<p> Description : {{ (processState | async).process.description }} </p>
<p> Status : {{ (processState | async).process.status }} </p>
<p> Result : {{ (processState | async).process.result.rc }} - {{ (processState | async).process.result.message }} </p>
<p> Holddata : {{ (processState | async).process.holddata }} </p>
<div class="row">
  <div class="col-md-6">
    <button
      routerLink="/process/start"
      class="btn btn-primary"
      type="button">
      Back
    </button>
    <button
      class="btn btn-info"
      type="button"
      (click)="onRefresh()"
      [disabled]="(processState | async).process.result.rc == 0">
      Apply check
    </button>
    <button
      routerLink="/process/done"
      class="btn btn-success"
      type="button"
      [disabled]="(processState | async).process.result.rc > 0"
      (click)="onApply()">
      Apply
    </button>
  </div>
</div>

